{% extends 'base.html' %}
{% block title %}API Keys Server{% endblock %}
{% block content %}
    <div style="text-align: center">
        <a href="/">Inicio</a><br>
        <a href="/api_keys/">API Keys</a>
        <h2>API</h2>
    </div>
    <h3>Encontrar duplicados</h3>

    API Key:<br>
    <input id="api_key" style="margin: 2px;" size="60" type="text"><br>
    Lista de Strings separadas por coma:<br>
    <input id="data" style="margin: 2px;" size="60" type="text"><br>
    <button style="margin: 2px;" type="submit" onclick="find_duplicates()">Obtener duplicados</button><br>
    <h4>Output:</h4>
    <p id="console" style="margin: 10px;border-width: 1px;border-style: solid;min-height: 30px;"></p>


{% endblock %}
{% block script %}
    <script>
        function find_duplicates() {
            var xmlhttp = new XMLHttpRequest();
            var api_key = document.getElementById("api_key").value;
            var string_list = document.getElementById("data").value;
            var string_array = string_list.split(',');
            var json_data = JSON.stringify(string_array);

            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if(this.status == 200){
                        document.getElementById("console").innerHTML =
                                '\"code\": \"'+ this.status + '\"<br>' +
                                '\"status\": \"' + this.statusText + '\"<br>' +
                                '\"duplicates\" : '+JSON.parse(this.responseText).duplicates;
                    }
                    else{
                        document.getElementById("console").innerHTML =
                                '\"code\": \"'+ this.status + '\"<br>' +
                                '\"status\": \"' + this.statusText + '\"<br>' +
                                '\"message\": ' +this.responseText+'';
                    }
                }
            };
        xmlhttp.open("GET", "/api/find_duplicates/", true);
        xmlhttp.setRequestHeader("accept", "application/json");
        xmlhttp.setRequestHeader("api-key", api_key);
        xmlhttp.setRequestHeader("data", json_data);
        xmlhttp.send();
        }
    </script>
{% endblock %}