{% extends 'base.html' %}
{% block title %}API Keys{% endblock %}
{% block content %}
        <div style="text-align: center">
        <a href="/">Inicio</a><br>
        <a href="/api/">API</a>
        <h2>API Keys</h2>
    </div>

    <table style="width:100%;text-align: left">
        <tr style="color: blue">
            <th>Correo</th>
            <th>API Key</th>
            <th>Total de requests</th>
        </tr>
        {% for key in api_keys %}
            <tr>
                <td>{{ key.mail }}</td>
                <td>{{ key.api_key }}</td>
                <td>{{ key.requests }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <div style="text-align: center">
        <h2>Generar API KEY</h2>
        {% if not user.is_authenticated %}
            <h3>Iniciar sesión</h3>
            <form action="/login/" method="post">{% csrf_token %}
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"/><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"/><br>
                <div style="text-align: center;margin: 1px">
                    <button type="submit">Login</button>
                </div>
            </form>
        {% else %}
                <div style="text-align: center;margin: 2px">
                    Usuario: {{ user.username }}<br>
                    <a href="/logout/"><button type="button">Logout</button></a>
                </div>
            <form action="/api_keys/" method="post">{% csrf_token %}
                  Correo<br>
                  <input style="margin: 1px" type="text" name="mail"><br>
                  <input style="margin: 1px" type="submit" value="Generar API Key">
            </form>
        {% endif %}
    </div>
        <h4>Output:</h4>
        <p id="console" style="margin: 10px;border-width: 1px;border-style: solid;min-height: 30px;">
            {{ message }}
        </p>
{% endblock %}